.summary-box {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 24px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


.summary-box h3 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    margin: 0;
    padding: 12px 15px;
    font-size: 15px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.content {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    padding: 15px;
    line-height: 1.8;
    font-size: 13px;
}

.stats {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    line-height: 1.8;
    font-size: 13px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
